@use 'base/colors' as c;
@use 'base/typography' as t;
@use 'base/mixins' as m;
@use 'base/variables' as v;


.footer {
    display: flex;
    background-color: c.$darkBlue;
    padding: 1rem;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    @include m.desktop {
        height: 30vh;
    }

    .footer__trademark {
        flex: 1;
        @include m.logo (4rem);
        text-align: center;
        @include m.desktop {
            font-size: 6rem;
        }
    }

    .footer__separation {
        width: 1px;
        height: 100px;
        background-color: rgba($color: c.$white, $alpha: 0.5);
    }

    .footer__advice {
        padding: 2rem 1rem;
        flex: 1;
        color: c.$white;
        font-size: 1.4rem;
        font-weight: 200;
        font-style: italic;
        text-align: right;
        @include m.desktop {
            text-align: center;
        }

        .footer__advice__link {
            color: rgba($color: c.$white, $alpha: 0.5);
            text-decoration: none;
            &:hover {
                color: rgba($color: c.$white, $alpha: 1);
            }
        }
        .footer__advice__link--info {
            border-left: 1px rgba($color: c.$white, $alpha: 0.5) solid;
            padding-left: 1rem;
        }

        .footer__advice__link--notice {
            padding-right: 1rem;

        }
    }
}