@use 'base/colors' as c;
@use 'base/typography' as t;
@use 'base/mixins' as m;
@use 'base/variables' as v;


.container__introduction {
    background-color: c.$darkBlue;
    padding: 5rem 2rem 1rem 2rem;

    @include m.desktop {
        padding: 5rem 15rem 1rem 15rem;
    }

    .container__introduction__article {
        @include m.desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .container__introduction__info {
            flex: 2;
        }
    }

    .container__introduction__headline {
        position: relative;
        padding-bottom: 1rem;

        @include m.desktop {
            padding-bottom: 5rem;
        }

        .container__introduction__headline__title {
            color: c.$white;
            //margin-left: 2rem;
    
            @include m.desktop {
                font-size: 12rem;
            }
        }
        .container__introduction__headline__subtitle {
            @include m.emphasis(c.$pink);
            font-style: italic;
        }
    
    }

    .container__introduction__subheadline {
        padding: 2rem 0 5rem 0;
        color: c.$white;

        @include m.desktop {
            width: 50%;
            padding-left: 0
        }
    }

    .container__introduction__btn {
        @include m.button(c.$darkBlue);

        @include m.desktop {
            margin-left: 0;
        }
    }

    .container__introduction__img {
        display: none;


        @include m.desktop {
            display: inline;
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    }

    .container__introduction__footer {
        margin-top: 5rem;

        @include m.desktop {
            display: flex;
            justify-content: space-between;
        }

        .icon-group-mouse-arrow {

            display: flex;
            flex-direction: column;
            align-items: center;

            .mouse-icon {
                width: 4rem;
            }

            .arrow-down-icon {
                margin-top: .3rem;
                width: 1.8rem;
            }

        }

        .container__introduction__note {
            display: block;
            color: white;
            font-weight: 100;
            font-size: 1.2rem;
            text-align: center;
            margin: 1rem 0rem;

            @include m.desktop {
                width: 32%;
                text-align: right;
            }
        }
    }
}